.DS_Store
.ftppass
*.sass-cache/
*.sublime-workspace
*.sublime-project
bower_components
cookie.txt
dist
node_modules
log.txt
webapp/vendor
webapp/cache
webapp/app.db
public/*
!public/index.php
!public/.htaccess
cache/*
!cache/keep