{#
  This is only for your demonstration how a component can look like - 
  of course a headline component can make sense - but please read all 
  about component first (it's not that much!
  
  https://www.storyblok.com/docs/terminology/component
#}
{{blok._editable|raw}}
<h1>{{blok.text}}</h1>