{% extends "index.twig" %}

{% block content %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">...Storyblok instructions here</p>
        <p class="lead">
          <a href="http://www.storyblok.com" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Storyblok.</p>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}