<!DOCTYPE html>
<html>

<head>
	{% block head %}{% endblock %}

	<link rel="stylesheet" href="{{ asset('styles/main.css') | version }}" media="all" />
</head>

<body>

	{% block content %}{% endblock %}

	<script type="text/javascript" src="{{ asset('scripts/vendor.js') | version }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/main.js') | version }}"></script>

	{% block storyblok %}{% endblock %}

</body>

</html>